.carousel-item img {
    height: 600px; /* Set a fixed height for the images */
    object-fit: cover; /* Cover the entire Carousel area */
}

.animated-button {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}